# Dependencies
**/node_modules/

# Environment files
**/.env
**/.env.*
!**/.env.example

# Build output
**/dist/
**/out-tsc/
**/.angular/
**/coverage/

# Logs
*.log

# Editor and operating system files
.idea/
.vscode/
.DS_Store
Thumbs.db
